<div class="container mt-4">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <ng-template #errors>
        <div class="text-danger">
          {{errMessage}}
        </div>
      </ng-template>
      <div class="row container d-flex justify-content-center" *ngIf="billing; else errors">
        <div>
          <h3> Customer Details </h3>
          <br/>
        </div>
        <div class="card rounded-0" *ngFor="let b of billing">
          <ul>
            <li>{{b.customer.id}}</li>
            <li>{{b.customer.name}}</li>
            <li>{{b.customer.email}}</li>
          </ul>
        </div>
        <div>
          <br/>
          <br/>
        </div>
        <div>
          <h3> Customer Bills </h3>
          <br/>
        </div>
        <div class="card rounded-0">

          <div class="card-body">

            <!--    {{searchFormGroup.value | json }}-->
            <table class="table table-striped">
              <thead>
              <tr>
                <td>ID</td>
                <td>Date</td>
                <td>CustomerId</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let b of billing">
                <td>{{b.id}}</td>
                <td>{{b.billingDate |date : 'dd/MM/yyyy'}}</td>
                <td>{{b.custmerID}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <br/>

      </div>

    </div>
  </div>
</div>

